[2016-07-30 19:29] bytefish opened #3 "Create Release Version 1.0"
A new release should be created, which includes the recent bugfix for parallel streams. The version number will be increased to version 1.0 to indicate a stable library.

[2016-07-31 10:53] bytefish commented on #3
Version 1.0 has been released to the Central Maven Repository.

[2016-07-31 10:53] #3 closed

[2016-08-04 19:43] bytefish opened #4 "Add Support for JSON data types"
PgBulkInsert should support the JSON data types:

* https://www.postgresql.org/docs/9.5/static/datatype-json.html

[2016-08-06 21:18] #4 closed

[2016-08-07 15:08] bytefish opened #5 "Add hstore Data Type"
The hstore Data Type should be added:

* https://www.postgresql.org/docs/current/static/hstore.html

[2016-08-07 15:12] bytefish opened #6 "Add geometric data types"
The geometric data types should be added to the library:
* https://www.postgresql.org/docs/current/static/datatype-geometric.html

[2016-08-07 18:16] #5 closed

[2016-08-07 18:16] #6 closed

[2016-08-07 18:17] bytefish opened #7 "Add Monetary Data Types"
Monetary data type is not high priority at the moment. You can use the regular ``mapString`` method to map to a monetary data type.

[2016-08-07 18:17] bytefish opened #8 "Add MacAddress Data Type"

[2016-08-07 18:46] bytefish commented on #8
Implemented

[2016-08-07 18:46] #8 closed

[2016-08-07 18:46] bytefish commented on #7
No Priority.

[2016-08-07 18:46] #7 closed

[2016-08-08 17:16] bytefish opened #9 "Documentation"
The library has a stable API. It needs documentation and examples.

[2016-08-10 04:31] bytefish commented on #9
The documentation should be written in Sphinx, which is available at:

* http://www.sphinx-doc.org/en/stable/

The documentation of TinyCsvParser can be used as a template:

* https://github.com/bytefish/TinyCsvParser/tree/master/TinyCsvParser/Documentation

Once the documentation is written it will be pushed into a gh-pages branch. This publishes it to GitHub pages. Make sure a .nojekyll file is

[2016-08-14 19:31] #9 closed

[2016-11-16 07:09] li-xiangdong opened #10 "How to support data type numeric(20,10)"
How to support data type numeric(20,10)

[2016-11-16 19:59] bytefish commented on #10
I will look into it. But I don't think I can quickly come up with something. A custom NumericHandler will be needed for sure, but I have no idea how to do it for now.

[2016-11-17 18:54] bytefish commented on #10
This is how Npgsql handles Numeric Types: [NumericHandler.cs](https://github.com/npgsql/npgsql/blob/dev/src/Npgsql/TypeHandlers/NumericHandlers/NumericHandler.cs).

[2016-11-20 10:54] bytefish commented on #10
The Intermine library has a great implementation for supporting Numeric Datatypes with Postgresql Binary Copy Format:

* [BatchWriterPostgresCopyImpl.java](https://github.com/intermine/intermine/blob/master/intermine/objectstore/main/src/org/intermine/sql/writebatch/BatchWriterPostgresCopyImpl.java)

I have just tested the Numeric Writer of Intermine and it works perfectly. But I cannot use the In

[2016-12-11 11:19] bytefish commented on #10
I have added support for Numeric Data Types, please use the ``mapNumeric`` Array for supporting NumericDataTypes. Please note, that ``mapNumeric`` only accepts a ``BigDecimal`` as Java Type. If you need to map an ``Integer`` Property to a ``Numeric`` field, you could write your own Value Handler.

Please let me know, if you need help doing it.

This functionality will be added with the next releas

[2016-12-11 11:19] #10 closed

[2016-12-11 11:43] bytefish commented on #10
I have added a sample, that shows how to write a Double into a Numeric column:

* https://github.com/bytefish/PgBulkInsert/blob/master/PgBulkInsert/src/test/java/de/bytefish/pgbulkinsert/integration/CustomValueHandlerIntegrationTest.java

This technique will work with other types, too.

[2016-12-11 11:45] bytefish commented on #10
I have released Version 1.3, which will be available in the Central Maven Repositories in some hours.

[2017-01-08 17:53] zach-m opened #11 "Support milliseconds"
Hi and thank you for thius project.
LocalDateTime gets rounded to the nearest second in `de.bytefish.pgbulkinsert.pgsql.utils.TimeStampUtils`. Are there any plans to support millisecond precision?

[2017-01-08 20:09] bytefish commented on #11
I think I copied the Java Date to Postgres Date conversion from the Postgres JDBC TimestampUtils. Do you know any source, that explains how to store dates with millisecond resolution?

[2017-01-08 20:20] bytefish commented on #11
Here is how Npgsql handles finer Timestamp resolutions. It might be worth to see how it is handled there:

* https://github.com/npgsql/npgsql/blob/dev/src/Npgsql/TypeHandlers/DateTimeHandlers/TimeStampHandler.cs

[2017-01-13 20:22] bytefish commented on #11
I have added Microsecond Resolution for Timestamps. The 1.4 Release will be synced to Maven in some hours I guess. Please reopen the ticket, if the fix doesn't work for you.

[2017-01-13 20:22] #11 closed

[2017-06-24 10:47] tivak opened #12 "JSONB. Character with value 0x10 must be escaped"
I have field with postgres type jsonb and DataType.Jsonb in map IPgBulkInsert
when I insert data I have Exception:

Caused by: org.postgresql.util.PSQLException: ERROR: invalid input syntax for type json
  Detail: Character with value 0x10 must be escaped.

May be we can do it into PgBulkInsert?
Or provide util for escape this characters

[2017-07-22 08:49] tivak commented on #12
I did some test.
As result it is not problem of this library. It is not valid json.
Went to correct error in generating json

[2017-07-22 08:49] #12 closed

[2017-11-11 18:34] akhtarali1 opened #13 "Gettting primary key voilation"
Hi,

When i try to insert entity with Id generated from sequence, Id is not getting updated with sequence instead having default value of long '0' and getting primary key violation.

Any suggestion or improvements would be of great help.

Regards
Akhtar Ali

[2017-11-12 07:28] bytefish commented on #13
Could you create a simple example to reproduce the bug? 👍

[2018-02-15 18:28] #13 closed

[2018-03-22 16:07] kowalczm opened #14 "Improvement in PgBinaryWriter"
Hi,
I'm reviewing this project and spoted that PgBinaryWriter's buffer is declared as `buffer = new DataOutputStream(new BufferedOutputStream(out));`. I think we can remove 'BufferedOutputStream' as passed stream is 'PGCopyOutputStream' which itself is buffered. It could increase performace.

[2018-03-22 16:11] kowalczm opened #15 "Upgrade postgresql to latest"

[2018-03-22 16:47] bytefish commented on #14
Could you make a Pull Request and check if all Unit Tests are working?

[2018-03-23 06:10] bytefish commented on #14
I will look into it this weekend.

[2018-03-23 06:11] bytefish commented on #15
Please add a description.

[2018-03-23 06:11] #15 closed

[2018-03-23 18:57] kowalczm commented on #14
Hi,
I have created PR for this: #15
After further analyse I recognized that using BufferedOutputStream would be more efficient instead of realying on write(int) method in PGCopyOutputStream where is checking of  bound and one element array is used and coping. So more efficient is use BufferedOutputStream with configurable buffer size which should be larger that buffer size in PGCopyOutputStream  s

[2018-05-06 10:09] gliwka opened #17 "Support for Postgresql composite types"
I've implemented Postgresql [composite types](https://www.postgresql.org/docs/current/static/rowtypes.html)  on top of PgBulkInsert.

Would you be open to a pull request?

[2018-05-06 10:10] bytefish commented on #17
Sure! Sounds great. 😎

[2018-05-19 16:07] bytefish commented on #14
Pull Request #16 has been integrated into Version 2.1, which has been released to Maven and should be available in some hours. Thanks for the detailed Pull Request, Benchmarks and overall improvements! 👍

[2018-05-19 16:07] #14 closed

[2018-05-19 16:10] bytefish commented on #17
@gliwka I have modified the API to support some use cases raised by users. Let me know, if you need any help with migrating the code. 👍

[2018-05-23 15:06] momania opened #20 "Some map<X>Array not working"
I try to use arrays, and get stuck with using numeric arrays and string arrays. Double arrays work as specified [in the test](https://github.com/bytefish/PgBulkInsert/blob/master/PgBulkInsert/src/test/java/de/bytefish/pgbulkinsert/pgsql/handlers/PgBulkInsertTest.java#L589), but numeric, or strings fails with the following error: `org.postgresql.util.PSQLException: ERROR: wrong element type`

Colum

[2018-05-23 17:37] bytefish commented on #20
Hmmm. No you are not missing something. 🤔 Can you write a Unit Test, that reproduces the bug? So I have a starting point for debugging. 💪

[2018-05-23 18:09] bytefish commented on #20
So here is the first problem: The ``mapStringArray(...)`` method only maps to a PostgreSQL ``text`` column and not to a varchar:

![image](https://user-images.githubusercontent.com/239373/40442711-b773c7be-5ec4-11e8-9dee-ffc6624117a7.png)

Then I looked into the Object Identifier list of PgBulkInsert and saw... I didn't include a ``varchar`` at all. So yes, you have found a missing feature. 👍

[2018-05-23 18:35] momania commented on #20
Ah great! I'll see if I can make the unit tests for the missing array mappings tomorrow, so you can make sure they all work 😄
Now that you hinted that it's all in the data type definition mapping, I'll have a look if I can include the fix too.

[2018-05-23 18:55] bytefish commented on #20
I am extending it right now and wrote a Unit Test. Give me a minute. 🥇

[2018-05-23 19:17] bytefish commented on #20
OK. I fixed it:

* https://github.com/bytefish/PgBulkInsert/blob/master/PgBulkInsert/src/test/java/de/bytefish/pgbulkinsert/pgsql/handlers/ArrayTypesTest.java

But I won't manage to release it today. Also there is one more thing in the API Design, that needs to be adressed.

[2018-05-23 19:24] bytefish commented on #20
The thing is. Everything works fine with the current API, if you say "mapStringArray" and your Column is of Type ``text``[]. Things get hairy, when let's say your field is a ``varchar[]`` like in your case. How do you want to differentiate between the Java Type and the Postgres Type.

So at least for arrays, users need to pass in the specific types using ``mapCollection``. But that is not really i

[2018-05-24 08:38] momania commented on #20
I agree that people (should) know their databases and you don't have to make this a magic layer that knows how to magically translate java types to database types, so it makes more sense to use the database types in the method names, and possibly, where applicable, use method overloading for the various compatible java types.

So for the numeric case I would add the `mapNumericArray(Array<BigDecim

[2018-05-24 16:39] bytefish commented on #20
I have added an initial version of how a mapping for a int, long, float, double properties to numeric could look like. You cannot overload generics in Java, so you have to pass an additional type token into the method (welcome Type Erasure). It's not a beauty, but a somewhat obvious and straightforward mapping.

I am still thinking about what an API for Arrays could look like. 🤔

My ``mapCollectio

[2018-05-25 11:46] momania commented on #20
Have a look at my commit mentioned above here. or click [here](https://github.com/momania/PgBulkInsert/commit/fa1cc7afc4fbdf0dc299545ca2c7aebadb96d889)

I think this is a setup that can work. Just need to add more unit tests so more array types get some coverage.

If you're happy with it I can make a pull request for it.

I also found some weird behaviour with inserting numeric arrays on my side,

[2018-05-25 15:44] bytefish commented on #20
Like Aretha Franklin said: Respect! I will take a look, when I get home.

[2018-05-26 06:37] bytefish commented on #20
Wow you have really put a lot of effort into it! Looks good! Would you mind making a Pull Request, so we can iterate on it?

[2018-05-26 12:04] momania commented on #20
You're welcome. Was not too much effort though. Good use of IntelliJ helps a lot with refactoring. 😄

But I like the lib and it's very helpful to a project I work on, so I might as well get my hands dirty if thing can be improved. 👍

[2018-05-26 15:58] bytefish commented on #20
@momania I have added a unit test for the ``numeric`` mappings. I think it is ok to cast the numeric to a ``double``, when the type is not a ``BigDecimal``. :+1: While at it I also added you to the List of authors in the ``pom.xml``.

Thanks again for your kind help!

I have released version 2.2 to Maven, so it should be available in some hours.

I am closing the ticket, feel free to reopen, if th

[2018-05-26 15:58] #20 closed

[2018-05-26 16:01] momania commented on #20
👍

[2018-06-07 09:31] mgsteinkamp opened #22 "mapString doesn't exist?"
The readme uses mapString in the example code, but there only seems to be mapText or mapVarChar in AbstractMapping.

[2018-06-07 16:29] bytefish commented on #22
I changed some methods with the last major release and I must have forgot to update the README. 😳 I will fix it, or you can make a Pull Request changing it from ``mapString`` to ``mapText``. 🙏

[2018-06-09 06:50] #22 closed

[2018-06-09 06:50] bytefish commented on #22
README has been updated. 👍

[2018-06-16 07:15] bytefish opened #23 "Wrong Values saved when using PgBulkInsert"
@jometho reported a Bug, that PgBulkInsert writes duplicate values:

* https://github.com/bytefish/bytefish.de/issues/13

I have written a Test for the reported behavior, but failed to reproduce it.

The original is here.

[2018-06-16 07:16] #23 closed

[2018-06-16 07:19] bytefish commented on #23
I cannot reproduce the behavior. If you succeed in making this test fail, please feel free to reopen the Ticket.

[2018-08-20 02:54] #17 closed

[2018-11-25 15:41] kowalczm opened #28 "ByteValueHandler incorrectly write byte?"
https://github.com/bytefish/PgBulkInsert/blob/7105a1a0a837c15218428226427fe49e7605010f/PgBulkInsert/src/main/java/de/bytefish/pgbulkinsert/pgsql/handlers/ByteValueHandler.java#L13

 shouldn't be:
`buffer.writeByte(value.byteValue());`
?

[2018-11-25 16:39] bytefish commented on #28
Is there currently an error, when writing a byte? We could change it to ``writeByte``, but I hope nothing breaks doing it. 😅

[2018-11-25 16:52] kowalczm commented on #28
seems to be working but just spoted such discrepancy

[2018-11-25 16:54] bytefish commented on #28
I will change it. If all unit tests pass, it should be safe to change. You can also make a Pull Request to change it. 👍

[2018-11-25 18:30] #28 closed

[2018-12-04 12:00] B87 opened #30 "Error inserting JSON column"
HI!

First of all, thanks for this library it has been really useful for me!

I'm opening an issue because I'm getting in trouble when I try to insert a POJO which contains a JSON field/cloumn.

If I try to insert a field which contains the JSON string : "{\"customer_name\": \"John\"}" i get the following error :

de.bytefish.pgbulkinsert.exceptions.BinaryWriteFailedException: java.io.IOException:

[2018-12-04 19:16] bytefish commented on #30
Thanks for the bug report! Actually I think it is related to this: https://dba.stackexchange.com/a/156383. Basically you need to Escape the JSON before writing it. I will see what's the simplest way in Java. I label it as not a Bug, because it is a requirement imposed by Postgres, but I leave it open and we find a workaround! 😎

[2018-12-05 18:16] bytefish commented on #30
Thanks for trying it! 🤜🤛 I will write a unit test first and then try to fix it. Don't know for sure, if I manage to today. Please hold on! 😌

[2018-12-06 06:34] bytefish commented on #30
@B87 Did you also create the column as a JSONB Column? Because the Mapping maps to a JSONB column: https://github.com/bytefish/PgBulkInsert/blob/master/PgBulkInsert/src/main/java/de/bytefish/pgbulkinsert/mapping/AbstractMapping.java#L178.

[2018-12-06 11:42] B87 commented on #30
Yep that's my problem.... I was creating the column as a json, jsonb is fine so I'm happy with it.

Thanks for your time and help!

[2018-12-06 12:07] #30 closed

[2018-12-26 00:50] robsonbittencourt opened #32 "Error with numeric field"
I'm trying to insert a value into a column of numeric type.

`share_value numeric(100, 14) NOT NULL,`

In my implementation of AbstractMapping, mapped the field as follows:

`mapNumeric("share_value", Share::getShareValue);`

shareValue in Java is a BigDecimal, and I'm trying to save the value **110.022004090000**.

But when I see the value in the database, the floating point is in the wrong posit

[2018-12-26 07:34] bytefish commented on #32
@robsonbittencourt I will look into it, but probably after Christmas days.

[2018-12-26 09:18] bytefish commented on #32
@robsonbittencourt A million thanks for the Bug Report and sorry for the problems caused. There was indeed a bug in the handler for Numeric Values! I fixed it, released a version 3.3 to the Central Maven Repositories and added a lot more unit tests with edge cases... to prevent regressions from crawling into the code.

[2018-12-27 06:56] bytefish commented on #32
@robsonbittencourt Great, thanks for the feedback! 😎

[2019-01-03 09:34] bchapuis opened #33 "Ingesting stream of entities in parallel"
First of all, thanks a lot for the great work! When saving entities, the `PgBulkInsert` and the `BulkProcessor` classes both have synchronized blocks. In particular, when saving a parallel stream with `PgBulkInsert`, the `saveEntitySynchronized` method seems to constitute a consumer bottleneck. Would it make any sense to have several threads/connection copying data into the database in parallel? I

[2019-01-03 14:58] bytefish commented on #33
I think I will soon release a 4.0 version and remove the ``BulkProcessor`` class and ``saveAll(PGConnection connection, Stream stream)`` completely. There is already a method ``saveAll(PGConnection connection, Collection<T> collection)`` which doesn't synchronize.

Yes, opening several connections and doing a Parallel COPY is the simplest way of parallelizing the insert. I looked around and the si

[2019-01-03 15:46] bytefish commented on #33
@bchapuis I have added a sample for the above code. It shows how to do a Parallel COPY with PostgreSQL. The reason I want to delete the ``saveAll(PGConnection connection, Stream stream)`` is because a Parallel Stream doesn't give any benefit, when it comes to inserts. It's better to build Batches and do Parallel COPYs, each having its own connection so it is also done multithreaded on server.

[2019-01-03 15:51] bchapuis commented on #33
@bytefish Thanks a lot for the example, I will give a try to Guava's `Iterators.partition` and come back to you with more insights.

[2019-01-03 16:54] bytefish commented on #33
I saw problems with the Parallel Streams when printing the Thread ID. Apparently Java is not distributing the Batches to the several Threads when using Parallel Streams. I simplified the whole pipeline massively using an ``ExecutorService``:

[code]

I updated the Unit Test.

[2019-01-03 16:54] #33 closed

[2019-01-03 17:48] bchapuis commented on #33
It definitely looks simpler and I will give it a try. However, in my understanding the `forEach` method of the `Stream` comes with some sort of back pressure, i.e., the stream won't be processed faster than the ability of the `Consumer` to ingest it. Here, the queue of the `ExecutorService` acts as an intermediary buffer, which might become problematic in the context of very large imports.

[2019-01-03 20:05] bytefish commented on #33
Really? Streams in Java are Pull-based. I know, that RxJava Observables / Reactive Streams might end up in Backpressure when the Consumer is too slow... Does the same hold for normal Java 8 Streams?

[2019-01-03 21:11] bchapuis commented on #33
I was guessing, so back-pressure is probably the wrong term here. However, the [javadoc](https://docs.oracle.com/javase/8/docs/api/java/util/stream/Stream.html) states the following:

In my understanding, the `Consumer` that submits the jobs could make progress faster than the `ExecutorService`.

[2019-01-03 21:36] bytefish commented on #33
I think controlling the queue length with an approach similar to 5. would be useful to control backpressure: https://www.nurkiewicz.com/2014/11/executorservice-10-tips-and-tricks.html.

[2019-01-04 08:10] dingliyy opened #34 "Could not obtain a PGConnection"
SpringBoot项目使用jdbcTemplate获取的java.sql.Connection不行啊。

`Connection connection = jdbcTemplate.getDataSource().getConnection();
bulkInsert.saveAll(PostgreSqlUtils.getPGConnection(connection), duplicatRemovedEvidences.stream());
`
报错：de.bytefish.pgbulkinsert.exceptions.PgConnectionException: Could not obtain a PGConnection

怎么解决啊？

[2019-01-04 10:46] dingliyy commented on #34
知道了，用C3P0NativeJdbcExtractor转成PGColnnection

[2019-01-04 10:46] dingliyy commented on #34
知道了，用C3P0NativeJdbcExtractor转成PGColnnection

[2019-01-04 10:46] #34 closed

[2019-01-04 15:19] bchapuis commented on #33
Thanks a lot! I ended up using a custom `Consumer` in conjunction with a `PoolingDataSource`.

[code]
The main difficulty is to efficiently partition the stream, which can be achieved with a custom `Spliterator`.

[2019-01-04 15:32] bytefish commented on #33
Maybe you can make a Pull Request and add it to the existing Unit Test I have referenced in the ticket? Or you add your own unit test to the project and make a Pull Request? My test isn't a beauty, but it works. 🥇

I am wondering: How do you control the ``ForkJoinPool`` queue size in your example?

[2019-01-04 15:36] bytefish commented on #33
Please add it as a separate method, so my example isn't overriden. 😇 I would love to perform some experiments later to see if / how improves the throughtput for PostgreSQL. 😎

[2019-01-04 15:50] bchapuis commented on #33
In my understanding the Stream is lazily evaluated, i.e., data is read by the Spliterator only when the Consumer asks for it. I don't know if there is an underlying queue, but the memory consumption seems to remain relatively stable. In my case, I consume a relatively large file (40GB), which is read and persisted progressively in postgres. To write the Spliterator the following article was partic

[2019-01-04 17:46] bytefish commented on #33
I see. Thanks for the input! I am not an expert when it comes to parallelism in Java. So it is also interesting for me to see how to implement it the best way.

[2019-01-04 18:07] bytefish commented on #33
By the way, very clever to use a custom spliterator. 😎

[2019-01-04 18:12] bytefish commented on #34
你真是太聪明了！👍

[2019-01-04 19:06] bchapuis commented on #33
I'm not an expert neither. Thanks for the great work on PgBulkInsert, the experience and the performances were very smooth so far :smile:

[2019-01-04 19:30] bytefish commented on #33
Good to hear. 😌 Let me know, if you have any problems.

[2019-01-06 08:03] bytefish commented on #33
@bchapuis Is it possible to share the spliterator? 😇

[2019-01-06 09:12] bchapuis commented on #33
@bytefish sure, with pleasure, let me just clean it and make it a bit more generic.

[2019-01-07 20:51] bchapuis commented on #33
@bytefish I just create a repository containing a work in progress. In my first attempt, I tried to create a `Spliterator` for each partition. However, it seams that if the stream is lightweight (does not involve a lot of processing), batching several partitions together becomes necessary. I still have some doubts on what's happening here, but I really see great performance improvements as I incre

[2019-01-07 20:57] bytefish commented on #33
Great job! I am currently also experimenting with importing large scale dataset in parallel with .NET:  https://github.com/bytefish/GermanWeatherDataExample. It's a little different in C#, but... I have the problem, that the database writes the data fast enough, but the CSV Reader / Mapping is too slow - no matter how much I optimized it. If I find a solution, that scales I will let you know.

[2019-01-09 08:27] bchapuis opened #35 "Add support for PostGIS data types"
The Postgis extension comes with some additional data types, which are very popular within in the GIS community.
https://postgis.net/docs/using_postgis_dbmanagement.html

It is unclear to me how such geometries can be inserted in the database using the copy manager (WKB format?), but it would be great to support them as well.

[2019-01-09 10:55] bchapuis commented on #35
@bytefish apparently, the WKB format can be used with COPY, so I started working on a prototype version to support the POSTGIS extension. First things first, I tried to execute all the unit tests of PgBulkInsert locally and it seems that I have to setup a local database and a schema. I havn't found SQL initialization scripts in the repository and I was wondering if something else was needed to exe

[2019-01-09 11:15] bchapuis commented on #35
@bytefish I managed to execute the tests simply by creating the appropriate databases and schemas. Sorry for bothering you.

[2019-01-09 13:44] bchapuis commented on #35
Another alternative would be to enable PgBulkInsert to support custom data types. I initially tried to do it that way but encountered difficulties at extending the `DataType` enum and the `ValueHandlerProvider`.

[2019-01-09 22:50] #35 closed

[2019-01-25 14:43] B87 opened #38 "Bulk upsert"
Hi!
Is it posible to make a bulk upsert using this library instead of regular insert?

Thanks!

[2019-01-25 16:36] bytefish commented on #38
This library implements the Postgres Binary COPY Protocol, which does not support Upserts. So I cannot support it in this library. 😖

[2019-01-25 16:36] #38 closed

[2019-08-07 12:56] jonfreedman opened #39 "Add support for TimestampTz PostgreSQL Type mapped to java.time.ZonedDateTime"
It would be useful to be able to bulk insert into a TIMESTAMPTZ column, according to https://www.postgresql.org/docs/current/datatype-datetime.html the storage of both TIMESTAMP and TIMESTAMPTZ is 8 bytes so all that's necessary is to covert to UTC.  If a database needs to maintain the inserted timezone it appears that must be dealt with separately.

[2019-08-07 13:03] #39 closed

[2019-08-09 15:54] bytefish commented on #39
I have released it to the Central Maven Repository as 3.4. It should be available soon.

[2019-08-12 08:46] jonfreedman commented on #39
Thanks, that's great

[2019-09-09 14:12] rajancherma opened #41 "Adding the postgres dB connection settings in sink"
Have to set idle connection timeout and max eviction time in the postgres flink .can you please suggest where I have to set dB specific configuration in the flink code

[2019-09-10 04:41] bytefish commented on #41
If you are using this library, then you can pass in the Timeout in the connection. About Flink: I am sorry, but I won't be able to help. It's been a long time since I wrote the Apache Flink examples and I don't have time to look at it in the upcoming weeks. Best luck with your projsct!

[2019-09-10 04:41] #41 closed

[2019-10-10 02:49] zcargnop opened #43 "BinaryWriteFailedException results in locked connection"
I am using your library and it works great for the most part. However, when the DB gets under heavy load I sometimes get a BinaryWriteFailedException
[code]

At this point my application hangs and is not able to recover.  The code runs in a simple try catch block where if an exception is caught I call conn.rollback() then close the connection with conn.close() before calling a function to retry us

[2019-10-10 04:37] bytefish commented on #43
Yes indeed, if I read the Stacktrace correctly, there is an infinite wait in the ``QueryExecutorImpl.waitOnLock``, which causes the connection to time out at some point.

A quick search yielded this thread, which describes a similar problem:

* https://www.postgresql.org/message-id/CADGbXSQ--8pJcSPkC7%2BtR6rsGrk7p%3D141Bp16VJiOR5mg_SQpQ%40mail.gmail.com

It's a somewhat weird problem and I don't s

[2019-10-10 04:45] bytefish commented on #43
Just as an idea... can you increase the ``sendBufferSize`` and ``recvBufferSize`` in the Connection String to a large value? People in the thread linked above mentioned some of the problems disappeared when increasinf these values.

The Connection String Parameters are described here:

* https://github.com/pgjdbc/pgjdbc#building-the-connection-url

[2019-10-10 05:06] zcargnop commented on #43
Thanks,
I will have a look at that and see if it helps.

On Thu, Oct 10, 2019 at 3:45 PM Philipp Wagner <notifications@github.com>
wrote:

[2019-10-10 05:09] bytefish commented on #43
Great, could you just give me some figures to know about the load? And are you reading from the database on the same thread / connection while writing the batched data? Just trying to replicate the error.

[2019-10-10 05:37] zcargnop commented on #43
I am using Hikari connection pool and each batch of inserts/updates is
processed via a single connection before the connection is closed so there
should be no reuse of connections except where the connection pool returns
the same connection to another process.We are seeing around 36k
transactions per second (tuples inserted/updated) at the database with a
ration of around 10 inserts per update. Wh

[2019-10-10 05:39] bytefish commented on #43
Thanks for the details. I will try to reproduce the problem.

[2019-10-11 07:22] bytefish commented on #43
And does the error persist when increasing Buffer sizes?

[2019-10-14 00:19] zcargnop commented on #43
The last run worked without issue but it is not clear whether it was related to the send/receive buffer settings. The actual size of each batch is pretty random as it is based on a timeout period and max batch size.  For, previous runs I had left the timeout at 100ms (every 100ms we insert/update all data we've processed) with a max batch size of 10k.  This results in a lot of small batch COPY com

[2019-10-14 05:13] zcargnop commented on #43
FYI, we did another run without setting send/receive buffer sizes and everything ran without issue suggesting that these settings did not impact processing.

[2019-10-14 05:13] bytefish commented on #43
@zcargnop Thanks for the effort you put into this. We leave this open, as long as we don't know the roor cause of the issue.

[2019-10-25 01:19] zcargnop commented on #43
it looks like the issue was related to the number of copy commands we were issuing. If the batch sizes are small (under 1000 records) and we issue them across multiple tables multiple times postgres seems to run into issues closing the connections and eventually the connections time out when new calls are made. We resolved this by increasing our batch sizes to 20,000-40,000 inserts per call.

[2019-10-25 07:14] bytefish commented on #43
Thanks for your valuable feedback, I really appreciate the effort you put into it.

I also thought about why the connections time out, but didn't have time to analyse it. If I remember correctly the COPY command should have the same locking like an INSERT statement, which means it is a RowExclusiveLock. This shouldn't lead to two connections blocking each other COPY statements.

I have found the f

[2019-10-31 08:20] bytefish commented on #43
@zcargnop Can we close the issue for now?

[2019-10-31 09:45] zcargnop commented on #43
Yes, thanks.

On Thu., 31 Oct. 2019, 7:20 pm Philipp Wagner, <notifications@github.com>
wrote:

[2019-10-31 10:05] #43 closed

[2020-02-12 11:44] skunkiferous opened #46 "Can I use this without a Java model? Also, how does it scale?"
Hi.

I have a use-case, and I'm wondering if it would be well served by your library.

Our app-server is written in Java, and uses a proprietary NOSQL DB. We are refactoring our code to use PostgreSQL instead. I wrote an "Exporter" that export the NOSQL DB to MessagePack, and an "Importer" that reads those files, and generate "INSERTs" for each entity, on a different server.

This works fine for o

[2020-02-12 12:17] bytefish commented on #46
Well. There are many ways to achieve what you plan and maybe you don't need a library like mine. Besides the Binary COPY Protocol, which the library implements, there is also a way to read data from STDIN:

* https://www.postgresql.org/docs/current/sql-copy.html

Maybe you could also transform the data to import to a CSV file and import it using the STDIN of Postgres. There is also a thing to keep

[2020-02-12 12:40] bytefish commented on #46
I am thinking a little about it.

You said you already wrote an Exporter, that writes INSERT statements. Maybe a simple way to increase performance without too many changes is to use multiline inserts, like in this Stackoverflow post:

* https://stackoverflow.com/a/32279203/513875

This should be more or less equivalent to a COPY from STDIN.

And it shouldn't require much changes on your side.

[2020-02-13 09:42] skunkiferous commented on #46
Hi. With minimal changes, I could refactor to add only the indexes and constraints _after_ the import, and also use those "multiline inserts", but idk how much faster that be.

Instead, I could run the COPY command manually. My problem is, our data is not simply integers and strings, but we have many arrays, in particular byte arrays (serialized Java objects), and so I don't know how to use that d

[2020-02-13 12:46] bytefish commented on #46
What would an API for your usecase look like? I mean like, what would a perfect API look like to be easily integrated.

[2020-02-13 16:58] skunkiferous commented on #46
MessagePack itself is not "table oriented", so I would imagine something more like a JDBC prepared statement.
You define a table, with a name, and a list of columns, with names and SQL types, and then you define your "inserts" by calling something like either putInt(name, ...) or putInt(position, ...) for each column. Either you create a new "row" object per row, that you fill, or call something l

[2020-02-13 20:45] bytefish commented on #46
Sounds good. It would be great if you could write some Java code on how you envision to use such an API. Like how should the rows be created, ... Just as an example, so I have a starting point on what classes are needed and such.

At the moment I am 🤒, so I won't be able to work on it the days ahead.

[2020-02-14 17:34] bytefish commented on #46
Here is my first attempt at designing the API. I called the class ``SimpleRowWriter``. Please take a look at the test and let me know, what you think:

* https://github.com/bytefish/PgBulkInsert/blob/master/PgBulkInsert/src/test/java/de/bytefish/pgbulkinsert/rows/SimpleRowWriterTest.java#L24

[2020-02-14 19:03] skunkiferous commented on #46
I looked at your example; that would do your fine, I think (as long as the result is a "COPY file", and not an actual PG table).

[2020-02-14 19:27] bytefish commented on #46
This is a Binary COPY to Postgres. There is no file being created, the data is written to Postgres using the Binary COPY Protocol using the Table and Rows specified in the ``SimpleRowWriter``.

[2020-02-14 19:29] bytefish commented on #46
Although this is C#, it makes a good introduction:

* https://www.npgsql.org/doc/copy.html#binary-copy

[2020-02-15 13:49] skunkiferous commented on #46
I was looking at this problem from the point-of-view of my current
solution, which is to use temporary files to transport the data. I
guess that doubles the entire transfer time. But until recently we
were experimenting with the precise PostgreSQL mapping, so I had to
re-import the data multiple times, and it made sense to export it only
once.

OTOH, we mostly locked-down the PostgreSQL mapping no

[2020-02-15 17:40] bytefish commented on #46
I don't see a need for intermediate files. Now without knowing anything about your processing pipeline, but I guess you get the data serialized using MessagePack and then deserialize it. From there you could basically write an adapter, that writes to the Postgres tables.

[2020-02-18 09:08] skunkiferous commented on #46
You are totally right! I thought I would produce a "COPY file" with the exporter, and use that file in the importer. But then I would have to modify both, and make the exporter "DB specific". If I just keep the MessagePack temporary files, but simply import the data into PostgreSQL using a different format, my pipeline is basically the same, and I have the least changes. I'm really glad I discusse

[2020-02-20 15:46] bytefish commented on #46
I am closing the issue. Feel free to answer or ask anyway.

[2020-02-20 15:46] #46 closed

[2020-03-02 06:23] tangyibo opened #48 "table name or field name case sensitive or key string like 'binary' as field name"
I test throw exception by postgresql driver when table name or field name case sensitive or key string like 'binary' as field name, so I think table name and field name should be quoted by charactor '"" in class de.bytefish.pgbulkinsert.row.SimpleRowWriter, like this:

`
package de.bytefish.pgbulkinsert.row;

import de.bytefish.pgbulkinsert.pgsql.PgBinaryWriter;
import de.bytefish.pgbulkinsert.pgs

[2020-03-02 18:24] bytefish commented on #48
@tangyibo Thanks for your pull request and your interest in the library! For the quoting, I already did something similar in the PostgreSQLCopyHelper library here:

https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper/blob/51b433f9c27383a9ca661ab20c8d12648e805f88/src/PostgreSQLCopyHelper/Utils/NpgsqlUtils.cs#L36

Not everyone wants quoting probably. Maybe some users of the library are alre

[2020-03-02 19:40] bytefish commented on #48
I have added a constructor parameter ``usePostgresQuoting", which will quote all identifiers according to Postgres rules. I cannot automatically set this parameter to true, because I don't know if people started using the library without quoting... and I don't want their builds to break as it would be a breaking change.

As for Reserved Keywords: I will not add them, sorry.

[2020-03-02 19:40] #48 closed

[2020-03-02 19:42] bytefish commented on #48
@tangyibo Thanks for raising the issue and bringing it to my attention. Also thanks for the effort you put into the Pull Request! 👍

[2020-03-03 12:25] tangyibo commented on #48
多谢，我会持续关注此项目的动态。

[2020-03-12 03:12] tangyibo opened #50 "my thread is blocked by execute the method of org.postgresql.core.v3.QueryExecutorImpl.execute()"
Hello @bytefish

I use PgBuldInsert in my project now!  and I find a problem like this :  my thread is blocked by execute the method of org.postgresql.core.v3.QueryExecutorImpl.execute() , and the stack trace shows that the thread is still awaiting unlock:

[code]

so, I think there is something wrong in my code ,and after many tests , I found that there is no place to release the resource handle

[2020-03-12 03:17] bytefish commented on #50
Thanks for your detailed analysis! I will add better error handling and close the stream like you suggest, if an error occurs. Sorry for the problems it caused you! 😖

[2020-03-12 06:55] tangyibo commented on #50
@bytefish Look forward for your new version! 💯  Thanks.

[2020-03-12 09:01] bytefish commented on #50
Is it possible, that you test if the commit fixes the problem? I couldn't reproduce it right now.

[2020-03-12 12:41] tangyibo commented on #50
thank you very much!

[2020-03-12 12:41] #50 closed

[2020-04-06 14:53] csimplestring opened #52 "Add support for tstzrange"
Hi, thanks for this awesome library!

recently I have to use the tstzrange type in postgres. Is there plan to support this or any useful links/documentation about how to customise the IValueHandler?

I checked some implementation of the IValueHandler, for me, the missing part is where can I find the pg binary specification protocol to convert tstzrange to binary data.

Many thanks!

[2020-04-06 15:07] bytefish commented on #52
So what I am basically doing in this library is to use the Binary Protocol, that can be found in Npgsql. The reason is simply because they already did the tedious task of Reverse Engineering it from Postgres.

As for a Range the relevant protocol stuff can be found here:

* https://github.com/npgsql/npgsql/blob/d4132d0d546594629bcef658bcb1418b4a8624cc/src/Npgsql/TypeHandlers/RangeHandler.cs

The i

[2020-04-06 15:11] bytefish commented on #52
I quickly looked through the code. I think there is no specific tstzrange  handler, but the generic ``NpgsqlRange<T>`` that is used to write ranges of any type.

As a starting point: How would you love to call a tstzrange API in PgBulkInsert? So to say, which Java Type would you map to Postgres from?

[2020-04-06 15:23] csimplestring commented on #52
hey, thanks for quick response.

Since I am using the _com.vladmihalcea.hibernate.type.range.Range_ class (this library supports more types that Hibernate does not), so `Range<ZonedDateTime>` is the Java Type to map to Postgres 'tstzrange' in my case.

But I understand, ideally, this library should not depend on another third-party library's type. Probably this library can create its own Range typ

[2020-04-06 15:33] bytefish commented on #52
Yes, that's what I am doing right now. 👍 Give me a moment to come up with an initial implementation and then we iterate on that.

[2020-04-06 15:37] csimplestring commented on #52
many thanks!!!

[2020-04-06 16:28] bytefish commented on #52
I have added an initial implementation,

I will now need to add it to the API surface and add some Unit Tests.

[2020-04-06 16:33] csimplestring commented on #52
Awesome. Looking forward to it, if you need any help from me, I am glad to help.

[2020-04-06 18:31] bytefish commented on #52
There were quite some changes neccessary to implement this quickly, with some more brain power one might improve the implementation... but I think it is good enough for now. So.

Could you please take a look at the Unit Test here:

https://github.com/bytefish/PgBulkInsert/blob/19befad4556652b005488a79db267b6ae597c8fa/PgBulkInsert/src/test/java/de/bytefish/pgbulkinsert/pgsql/handlers/RangeTypesTest

[2020-04-06 18:40] csimplestring commented on #52
@bytefish  the unit tests already shows its usage, and the added method on SimpleRow is exactly what I need. They look really nice to me.

[2020-04-06 18:46] bytefish commented on #52
Cool. Well honestly, I am a bit afraid to release it without testing for all Edge Cases like... Empty Ranges, Infinite, Inclusive Bounds, ...

I would release an alpha version, so you can run some tests. But I have never worked with Pre-Releases in the Maven Central Repository. 🤭 So I first need to read up, if there is anything special when doing a Pre-Release.

[2020-04-06 18:49] csimplestring commented on #52
Sure. The alpha version is pretty enough for me now. I can also run some test covering some edge cases in my project. If there were some issues, I will give feedback here.

[2020-04-07 10:04] csimplestring commented on #52
@bytefish  Morning. One edge case is found:
Input is **[2016-08-18 00:00:00.0Z,)**
But the following exception occurs:
[code]

[2020-04-07 14:31] bytefish commented on #52
I will add a test case and see if I can fix it. 😀

[2020-04-07 15:44] bytefish commented on #52
Your analysis seems to be correct. I see how to rewrite it, so it fits the use case.

[2020-04-08 08:29] csimplestring commented on #52
Morning. I think I found the root cause at line 27 - 33 in RangeValueHandler:
[code]
should change to
[code]

[2020-04-08 10:25] bytefish commented on #52
Yes, I also recognized this. But it has to do with the Byte-Arithmetics. It goes off somewhere, I am always in deep fear doing this in Java due so the signature in bytes. 👍 If I hardcode the flags like this, the test works... But I need to find out, where in the Bit Operations I am wrong.

[code]

[2020-04-08 10:46] bytefish commented on #52
Yes. First of all you are right with the wrong lower bound in my code. Fixed then. Next I think the value in my unit test was wrong and looked like this "[DATE,]" instead of "[DATE,)". BUT maybe it should work with "[DATE,]" also and not lead to a crash. What do you think?

[2020-04-08 11:54] csimplestring commented on #52
I have the same confusion with the 'infinite': if the upperBound is already infinite, does 'inclusive' matter or not? But it is about the how Postgres represents the string of range and it depends on how developers write it. Therefore the test looks correct to me.

[2020-04-08 13:27] bytefish commented on #52
OK. After running some tests with Npgsql I came to the following conclusion: What should happen if the value passed to the Lower Bound or Upper Bound in the ``Range`` is null? If I set a "null" value as upper bound and have the upper bound defined as Inclusive (which is done by default)... then the Binary Copy fails. If I set the bound to Infinite, when a value is null... everything works as expec

[2020-04-08 13:39] bytefish commented on #52
I have released ``4.0-alpha-2`` to the Central Maven Repositories. Give it a try! 👍

[2020-04-08 13:42] csimplestring commented on #52
👍 will try!

[2020-04-08 18:16] csimplestring commented on #52
Running tests in my project and it works perfectly! And it is really fast.

Another question is: do I need to manually close the PgConnection passed to `pgwriter.open(connection)`?

Since I am using HikariDataSource, I have to get the PgConnection like `dataSource.connection.unwrap(PGConnection::class.java)`,  just want to make sure if it might cause connection leak.

[2020-04-08 18:24] bytefish commented on #52
I don't think I am closing the connection explicitly. So it would be best to close it after using it.

[2020-04-09 05:32] bytefish commented on #52
@csimplestring If you didn't hit any errors, I will add some more range types and tests. And then I will do an official 4.0 release.

[2020-04-09 10:09] csimplestring commented on #52
@bytefish  Everything is ok! Wait for the official release!

[2020-04-09 11:02] bytefish commented on #52
@csimplestring I have uploaded the 4.0 to Maven Central Repository. It may time until it is synced and indexed by their servers. I am closing this ticket, but if you hit any problems, feel free to reopen or comment on this ticket.

[2020-04-09 11:02] #52 closed

[2020-04-15 16:15] tangyibo opened #53 "Reopen Issue #48: Maybe unavailable for table field name with Quote Character"
Hello @bytefish :
     Recently, I found issue #48 is wrong in code file : de.bytefish.pgbulkinsert.row.SimpleRowWriter.java, function: getCopyCommand().
    And I make the follow test:

[code]

The program print result ：
[code]
but not is ：
[code]

so I thing maybe there is something wrong in the stream function code ：

[code]

Can you help me? thanks!!
[code]

[2020-04-15 16:42] bytefish commented on #53
Well, yes. I don't maintain a list of reserved keywords, which might be the issue here. Generally lower-case column names don't need quoting, that's why these columns aren't quoted in your example.

I don't know, what could happen if we just quote everything, when UsePostgresQuoting is set to true?

Do you know of any problems, this might introduce?

[2020-04-16 05:36] tangyibo commented on #53
Well, yes , i find , bad grammer will happen when some tables that have field name using SQL keyword like 'binary' or 'BINARY', so I think it is safe to quote table name and field name, Do you aggree with me? Thanks!

[2020-04-16 05:52] tangyibo commented on #53
Thanks, I find you already fix it!

[2020-04-16 05:53] #53 closed

[2020-04-16 06:34] bytefish commented on #53
I wrote a comment to say I fixed it, but I probably didn't send it. Sorry. Yes I have released 4.1 and now simply quote everything, which isn't already quoted, if you choose Postgres Quoting.

[2020-04-23 09:21] cheffe opened #54 "Support automatic mapping through JPA models"
We have just found this great library and started to use it for our project. As of now we are using Spring Boot with Hibernate. Hence we have all models already written as JPA Pojos.

Right now I need to duplicate my mappings via implementing an`AbstractMapping` instance per entity. It would be great if a `JpaMapping` class would exist that we could use instead.

Maybe something like this is alrea

[2020-04-23 09:48] bytefish commented on #54
@cheffe That sounds like a great feature! Let me prototype something, which we can iterate on and see if it matches what you need! 👍

[2020-04-23 10:46] bytefish commented on #54
It will take some moments, because while making a prototype I will also do something, that's long overdue: Turning the project into a Multi Module project. This way we can write additional modules like for the JPA mappings or Postgis, without everyone needing all possible Spring Boot JPA dependecies.

[2020-04-23 11:52] cheffe commented on #54
Great thank you for the fast response, let me know if I can help somehow.

[2020-04-23 13:56] bytefish commented on #54
@cheffe I have added an initial version, that we could take a look at!

Here is how it would be used:

https://github.com/bytefish/PgBulkInsert/blob/f8d4601d313fbc029dbb54a5a699f18757fff242/PgBulkInsert/pgbulkinsert-jpa/src/test/java/de/bytefish/pgbulkinsert/jpa/JpaMappingTests.java#L75

In the initial implementation it is only able to map fields annotated with ``@Column``, because it is way too h

[2020-04-23 17:17] bytefish commented on #54
@cheffe There is one thing, I am not sure of. So I turned the project into modules, so that modules could be written without modifying a stable core library. I want people to not change too much in their code if they are upgrading the library... except maybe changing the Maven dependencies. So I left the package name for the core module as is, and changed the groupId to ``de.bytefish.pgbulkinsert`

[2020-04-23 21:50] cheffe commented on #54
That looks very good. I will try it out tomorrow. Thank you for the effort!

[2020-04-23 21:53] cheffe commented on #54
About the structure that looks fine with what I got to know by now. There are loads of libraries that structure similar to this.

[2020-04-24 09:24] cheffe commented on #54
Ok, I am working on it for a while now. We have the challenge that we are using Kotlin, not vanilla Java. Right now I have to deal with Kotlin enums vs Java. I think I may need to push a patch for that.

[2020-04-24 09:54] bytefish commented on #54
Good! I have never used Kotlin, so I am not much of a help. Also I am creating all this as a new Major Release. So if we could improve the API, I am all in. Maybe you could push to the ``pgbulkinsert-jpa`` branch for now, so it could later be released altogether?

[2020-04-24 12:08] cheffe commented on #54
It works except for enums, I have to take that with me over the weekend.

[2020-04-24 12:30] bytefish commented on #54
Which Enums? Can you give me an example?

[2020-04-24 13:17] bytefish commented on #54
OK. I have added support for ``@Enumerated`` for persisting as String / SmallInt. What do you think should an Enum Ordinal be persisted with? I think a SmallInt will suffice.

[2020-04-26 18:43] bytefish commented on #54
@cheffe I have made some additions. It's now possible to pass a Column-to-DataType Mapping into the ``JpaMapping``. The reasoning is, that you probably don't want the defaults to be applied for the mapping. At the same time, I have also released a version ``5.0.0-alpha1`` to Maven.

It would be great, if you could give me some feedback! 👍

[code]

[2020-04-27 07:20] cheffe commented on #54
Thanks a lot for your efforts. I will look into it after the breakfast :)

[2020-04-28 05:09] cheffe commented on #54
I gave it a few shots yesterday. We are using entities that have implemented Spring's `Persistable` interface, plus they offer a combined ID class, like this

`@Entity
@IdClass(value = KpiEntityKey::class)
@Table(name = "kpi")
data class KpiEntity(
  @Column(name = "id") @Id val id: String,
  @Column(name = "snapshot") @Id val snapshot: String,
  @Column(name = "location") val location: String,

[2020-04-28 05:13] cheffe commented on #54
Problem with this is that the method `getId()` introduces a read only property, hence we would need to call the alternate constructor `PropertyDescriptor(String propertyName, Class<?> beanClass, String readMethodName, String writeMethodName)` of the PropertyDescriptor, with `writeMethodName` being null.

I forked yesterday and am trying to propose a change.

[2020-04-28 10:43] cheffe commented on #54
I have reproduced and solved the issue within the `JpaMappingTest`, please checkout my pull request.

[2020-04-28 11:57] bytefish commented on #54
I would like to release it. What do you think?

[2020-04-28 12:18] cheffe commented on #54
Looks good to me. I would include it in our next release. That we you would get some productive runs. These routines run on a daily basis.

[2020-04-28 12:26] bytefish commented on #54
OK! I write some documentation and prepare a release. 👍

[2020-04-28 12:57] bytefish commented on #54
OK! The ``5.0.0`` is released to the Central Maven Repository. It should be available within some hours. I have also merged all changes to the master branch. Thanks for your efforts and you patience. :-)

I am closing this issue, but if a problems comes up feel free to reopen or file a separate issue.

[2020-04-28 12:57] #54 closed

[2020-05-05 10:20] t0bst4r opened #57 "map double in JpaMapping"
Hello,

you've just implemented the JpaMapping with my colleague @cheffe in #54  😄
Now I've some problems writing doubles into the database.

I expected PGBulkInsert to do the mapping as follows:

Java / Kotlin Type: Double
Postgre Type: Double Precision

But the following lines are mapping the java double type to single precision because you are using the function mapFloat instead of mapDouble.
T

[2020-05-05 11:06] t0bst4r opened #58 "field mapping of additional types like dates"
Hi again,

at the moment you are only mapping simple types in function JpaMapping#mapField.
First of all it would be nice to have some more mappings like LocalDate etc.

But for more data types you could just create a simple annotation like `@PgJpaDataType(value=DataType)` which can be parsed like the Enumerated-annotation in line 97 of JpaMapping.
Maybe this annotation could be used for other map

[2020-05-05 14:33] bytefish commented on #57
That's a bug. Feel free to create a Pull Request.

[2020-05-05 16:22] bytefish commented on #58
Yes, it's a good idea to provide an additional annotation. I will create an initial version and fix the bug in the other ticket, too. 😎

[2020-05-05 16:44] t0bst4r commented on #58
Perfect, thank you!
Another good option could be an additional or alternative Type-Map in the constructor of JpaMapping:

[code]

This map could be used to directly map java types/classes to your DataType enum --> in general.
If combined with a factory pattern in our app it could be a general setting for global data type mappings. This could be helpful for your if-else clauses, too.
You could do t

[2020-05-05 19:24] bytefish commented on #57
Let's track this in Issue #58.

[2020-05-05 19:24] #57 closed

[2020-05-05 19:29] bytefish commented on #58
I have implemented a first version and wanted to upload it to Maven as 5.1.0-alpha1... but... Central Maven repositories are currently down and I cannot push the build to the Staging Repository, see:

* https://status.maven.org/incidents/rh8hfcm8h2kc

You can see how to use the Annotation:

https://github.com/bytefish/PgBulkInsert/blob/ad4761beaa360f1c534e2cf9c529bc91243f1433/PgBulkInsert/pgbulkin

[2020-05-06 05:43] bytefish commented on #58
Uploaded to Central Maven, it may take some time to propagate through their systems. Probably you can give it a try and let me know what you think about the API. Now off to work! 👍

[2020-05-11 14:46] jonfreedman opened #59 "add #mapTime method to insert LocalTime similar to #mapDate"

[2020-05-11 15:11] idoor88 opened #60 "Mapping error for Timestamp"
I need to map the table email to a domain model EmailPg, where I have:
public Timestamp getEmailCreateTime() {
		return emailCreateTime;
	}
and the table field email_create_time is data type of timestamp without time zone,
but when I map the table field as the following:
mapTimeStamp("email_create_time", EmailPg::getEmailCreateTime);

I got this error:

incompatible types: bad return type in metho

[2020-05-11 17:59] jonfreedman commented on #59
Looks like you beat me to it!

[2020-05-11 18:07] bytefish commented on #59
Yours is better! Give me a moment to merge it. :-)

[2020-05-11 18:09] #59 closed

[2020-05-11 18:12] bytefish commented on #59
I have to see, what we can do about the ``db.properties`` file, so it doesn't get overriden. I really don't want to introduce Docker or some kind of In-Memory DB.

[2020-05-11 18:29] jonfreedman commented on #59
Using docker + TravisCI/CircleCI isn't a bad idea, it's just a bit of a fiddle to set up

[2020-05-11 18:33] bytefish commented on #59
Indeed. I think I should have a look into the GitHub Pipelines some time. If you want... no obligations! ... I can turn this project into an organization, add you as a project collaborator and we might work on it? We can also remove my name from the Copyrights and so on, I am not this entitled. 👍

[2020-05-11 18:41] jonfreedman commented on #59
I'll see if I have some time this week to take a look, GitHub pipelines works for me although I haven't used them before. Sounds like this is the way to go https://help.github.com/en/actions/configuring-and-managing-workflows/creating-postgresql-service-containers  ---- On Mon, 11 May 2020 19:34:10 +0100  notifications@github.com  wrote ----

Indeed. I think I should have a look into the GitHub Pi

[2020-05-11 18:45] bytefish commented on #60
For now I would suggest to convert it :

[code]

I know it's not the perfect API, more on this later.

Here is a full example:

[code]

The problem is... I am hitting the limits with my API design. :(

I am using ``Function<S,T>`` interfaces, which cannot be overloaded. So I am either stuck with ``mapTimeStamp`` and ``mapTimeStamp2``... or I need to introduce some kind of additional reflection mag

[2020-05-11 18:45] #60 closed

[2020-05-11 19:09] bytefish commented on #59
Back to the original topic: I have released 5.1.0 with your changes. At the same time I have turned the Repository into an Organization and transferred Ownership of the Repository, so it is not tied to my moniker.

[2020-05-11 20:51] bytefish commented on #58
@t0bst4r I have released a 5.1.0, that includes the new API. If there are any problems or you have additional requests, feel free to reopen this ticket or create a new one. 😊

[2020-05-11 20:51] #58 closed

[2020-05-12 08:19] jonfreedman commented on #59
I'm not seeing 5.1.0 in maven central yet: https://mvnrepository.com/artifact/de.bytefish.pgbulkinsert/pgbulkinsert-core

[2020-05-12 17:59] bytefish commented on #59
According to the official Maven Search it is there:

* https://search.maven.org/artifact/de.bytefish.pgbulkinsert/pgbulkinsert-parent/5.1.0/pom

[2020-05-26 03:27] tangyibo opened #82 "Hello, Can I suggest that make version tag for this project?"
Hello: @bytefish

    I use this project in my program, and can you make version tag for this project?
   Thanks very much!

[2020-05-26 04:30] #82 closed

[2020-05-26 08:50] tangyibo opened #83 "Can you help to support DataType.Time for write to PostgreSQL?"
Hello: @bytefish
   Can you help to support DataType.Time for write to PostgreSQL? I found DataType.time in class de.bytefish.pgbulkinsert.pgsql.constants.DataType, but i cannot find method wirte LocalTime data type in class de.bytefish.pgbulkinsert.row.SimpleRow, and can you help for support it ?
  Thank you very much!

[2020-05-26 20:44] bytefish commented on #83
Yes, I think you are right! It's missing in the ``SimpleRow``. I will add it and release a new version to GitHub. But this may take some time, I have so many other things on my desk right now. 😵

If you can make a Pull Request I would be happy to accept.

[2020-05-27 01:01] tangyibo commented on #83
@bytefish thanks!

[2020-05-27 03:49] #83 closed

[2020-05-28 04:55] bytefish commented on #83
@tangyibo I have added the ``SimpleRow#setTime`` method to the ``SimpleRow`` implementation. It should be available as ``6.0.1`` as soon as the Maven Repositories update their index. Let me know, if this fixes your problem. 👍

[2020-05-29 05:49] tangyibo opened #85 "For exception in de.bytefish.pgbulkinsert.pgsql.handlers.BaseValueHandler"
In method handle() of class BaseValueHandler, when IOException happend, the exception is not point out explicitly, so I think like this:

[code]

do you agree with me? thanks!

[2020-05-29 05:56] bytefish commented on #85
One problem I see is, that no Exception at all is thrown, when you have an IOException with ``e.getCause() == null``.

The Question is: Why can't we put the Original Exception in the ``BinaryWriteFailedException(e)`` and have the caller of the API evaluate the cause? Or is it to complicated to get the information this way?

[2020-05-29 06:28] tangyibo commented on #85
I mean there maybe is IOException which is throwed by function internalHandle()

[2020-05-29 06:35] bytefish commented on #85
Sure, but if an IOException is thrown in this code and e.getCause() is null, then you will fall through all if statements and basically don't rethrow the exception.

[2020-05-29 06:50] tangyibo commented on #85
yes , you are right, may be this?

[code]

[2020-05-29 11:37] bytefish commented on #85
Probably I do not understand something: What's the reason we need to unwrap the Cause from the IOException? I guess it is, so that the Inner Exception of the BinaryWriteFailedException points to the underlying cause directly, right? Is it safe to discard the IOException? Just asking, I am not sure.

[2020-06-01 01:13] tangyibo commented on #85
OK, In abstract method internalHandle() implemnt by subclass, threre many code like this:
[code]

and this may throw IOException, but IOException is decoratived for its cause member,  so I think maybe like this:
[code]

[2020-06-01 07:03] bytefish commented on #85
I get it. But does the ``IOException`` never contains useful methods + a cause? Because right now, if we are unwrapping the ``e.getCause()``, then the ``IOException`` is lost.

[2020-06-02 01:27] tangyibo commented on #85
Of course, What you said is write, and when I see class org.postgresql.copy.PGCopyOutputStream, I found like this:
[code]

So , I also want you help for what to do for it, thanks!

[2020-06-02 20:21] bytefish commented on #85
Take for example this code:

[code]

If I unwrap the ``SQLException``, then the Exception message ``"Write to copy failed."`` will be lost. I don't think, that is a good thing... What I would do on the API Caller-side is the following.

I define a class ``ExceptionUtils``:

[code]

And if you want to know the root cause of the Exception you can use it like this. I created an Exception Hierarchy eq

[2020-06-04 01:38] tangyibo commented on #85
Ok, Good idea, Thanks ,haha!

[2020-06-04 01:38] #85 closed

[2020-06-04 05:49] bytefish commented on #85
@tangyibo 谢谢!

Good! I don't know, if the SQLException is the innermost Exception in this case. Still this might be better, than swallowing an IOException, because I don't know what other IOException can be thrown in the JDBC code below.

[2020-06-06 01:14] jeffzoch opened #88 "Dont see jdk8 packages on maven central?"
Looking at https://mvnrepository.com/artifact/de.bytefish i dont see any packages with -jdk8 in them and when i use the pom dependencies specified in the changelog for java8 it fails.

[2020-06-06 03:51] bytefish commented on #88
@jeffzoch I will investigate and fix it.

@jonfreedman Do yoi have an idea, why the Maven Central repos don't serve the jdk-8 version?

[2020-06-06 04:05] bytefish commented on #88
@jeffzoch I think I got it wrong how the artifacts are published... and only checked Java11. 😳 I am sorry. The following should work.

Could you let me know, if it fixes the problem?

[code]

[2020-06-06 18:37] jeffzoch commented on #88
All good! ```    implementation("de.bytefish.pgbulkinsert:pgbulkinsert-core:$pgbulkinserVersion:jdk8")
[code]

[2020-06-06 18:43] bytefish commented on #88
Cool! 😎

Do you think it would be useful to include a Gradle example to the README?

[2020-06-06 20:44] #88 closed

[2020-06-07 02:40] jeffzoch opened #91 "Jpa Mapping quoting exception"
I cant seem to get jpa mapping working.

I have an entity like this:
[code]

and when I do
[code]
I get the following exception:
[code]

[2020-06-07 04:56] bytefish commented on #91
The JpaMapping only works with a class annotated with ``@Table`` and properties annotated with a ``@Column``.

I didn't implement a version for mapping by Property name (which would be a nice feature?).

Could you please try if adding an @Table and @Column annotations help?

[2020-06-07 05:20] jeffzoch commented on #91
That seemed to help though now im getting
[code]
darn :/ .

Btw, it would be really convenient if you could look at hibernate metadata to access the table name, column names, and column types. Might be a bit easier since its already parsing that stuff for jpa

[2020-06-07 06:02] bytefish commented on #91
Well yes, that's why I thought for a long time to support JPA at all. There are so many things like you mention and I will probably never implement One To One or One To Many Relationships. Let me have a quick look, how you can write Timestamps.

[2020-06-07 06:09] jeffzoch commented on #91
Totally get it. I dont use 1:1 or many to many as its too complex and not-sql-like. I just use jpa for table mapping really.

I saw you have an example that implements AbstractMapping for timestamp. THe only issue I see is that I want to use the JpaMapping but pass in an additional override. It looks like I can either choose JpaMapping or some new extension of AbtractMapping with no way to merge t

[2020-06-07 06:23] bytefish commented on #91
Exactely! The ``JpaMapping<>`` API is way too closed. I will see how to make it easier to extend. The whole ``AbstractMapping`` yields a nice API regarding the ``mapXyz(...)`` methods, but type erasure makes it impossible to say:

* ``mapTimestamp(string columnName, Function<T, Timestamp>)``
* ``mapTimestamp(string columnName, Function<T, LocalDateTime>)``

Just because both functions will be a ``

[2020-06-07 06:30] jeffzoch commented on #91
Right now i have something like:
[code]
But im getting some errors about not enough data left. The main weird spots above are:
1. having to specify the columns explicitly for each conversion - its explicit but maybe too much? ```
mapTimestamp(Class<T> klass, Function<T, LocalDateTime> )
[code]

[2020-06-07 06:34] bytefish commented on #91
Yes, no. This looks way to complicated for what should be a simple Java <-> SQL Table mapping. If you reach this point, you might just use the ``AbstractMapping`` as it is doubling effort at the moment anyway.

Could you share a small example data, that leads to the Error? So I can take a look. Just if it is not sensitive data.

[2020-06-07 06:44] jeffzoch commented on #91
The test i run is incredibly simple - i just create 1 ticket with random data and insert it using the function ive shown you. Full schema shown below:
[code]

and here is the full function for trying to use the copy func:

[code]

[2020-06-07 06:44] bytefish commented on #91
As for the Not Enough Data Left Error, it has mostly to do with a Postgres Type mismatch, let's say you are using an Integer in Java and want to map to something like an ``int2`` in Postgres. I assume your ``retryCount`` isn't a full-blown ``int4`` in Java.

That's why I added the ``@PostgresDataType(...)`` annotation, you you could map explicitly what data type the property maps to.

[2020-06-07 06:45] jeffzoch commented on #91
Ah that makes sense. Sorry all my code is in kotlin btw, not sure how familiar you are with it :/

[2020-06-07 06:47] bytefish commented on #91
Not really, but it looks like JetBrains put Java and C# in a mixer and Kotlin came out. So it's understandable. Sorry, I edited my comment above, could you share the DDL for the SQL table if this isn't a problem.

[2020-06-07 06:48] jeffzoch commented on #91
ticket_id,text,
abort_code,text,
assigned_to,text,
cancel_requested,boolean,
cleanup_step,numeric,
created_by,text,
created_time,timestamp without time zone,
dry_run,boolean,
end_time,timestamp without time zone,
entity_id,text,
error_code,text,
external_ref_id,text,
job_id,text,
op_type,text,
reset_by,text,
retry_count,numeric,
retryable,boolean,
scheduled_end_time,timestamp without time zone,
sc

[2020-06-07 07:01] bytefish commented on #91
Yes and there is one of the Problems already. I really regret adding a JpaMapping. The Probability is way too high, that the default assumptions (``int`` in java -> ``int4`` in Postgres) fail to hold. This means you would have to pollute your mappings with a million explicit ``PgDataType`` annotations... leaving users like you wondering why use it at all then?

Just the same with the DateTime. Wha

[2020-06-07 07:54] bytefish commented on #91
OK, I have added a Unit Test in a Branch, that implements the ``AbstractMapping``:

[code]

Now let me just write down what I think.

Implementing a ``JpaMapping`` was the wrong route from the start, because a user should know exactely how to map the data, else the Binary Copy in Postgres will fail. And a ``JpaMapping`` gives the false assumption (just like you expected), that I just drop it in an

[2020-06-07 08:31] bytefish commented on #91
OK, I have removed the ``JpaMapping`` from future Releases. The 7.0.0 will be available sometime soon, but does not contain any changes except dropping the ``JpaMapping``. I wanted to do a hard cut, so people know from 7.0.0 there is no such thing as a ``JpaMapping``.

I am sorry for this lengthy thread, please let me know if the ``AbstractMapping`` fixes your problem.

[2020-06-07 16:39] jeffzoch commented on #91
That seems fair! I am debugging a EOF exception using pretty much the same schema you used but ill let you know how it works. Posting snippet for compelteness. Thanks for all the help! Ill be driving for the next 10 hours so ill try to debug this tomorrow.
[code]

[2020-06-07 16:46] bytefish commented on #91
Maybe it's just me not understanding Kotlin, but why don't you pass in a lambda function as the second parameter:

[code]

Or does Kotlin do it automatically?

I would have expected:

[code]

[2020-06-08 20:01] #91 closed

[2020-06-09 16:29] kowalczm opened #93 "Question related to removed overloaded 'map' methods in AbstractMapping"
Hi,
In https://github.com/PgBulkInsert/PgBulkInsert/commit/f051e55ae6ae43fc54ec32a7fe393d5f34047d11
I saw that few oveloaded functions were removed in AbstractMapping (mapBoolean, mapLong). Is it intentional?

[2020-06-09 16:34] bytefish commented on #93
Semi-Intentional. I thought they are not used anymore and I was throwing some code out. I was a little over the top. 😓

I'll re-add them and release an update to Maven. Give me a moment.

[2020-06-09 16:39] kowalczm commented on #93
Ok, I'm not not involved to projects related with this library but having classes with with primitve types is quite common and converting them to object types (boxing) is very expensive especially in cases when you process millions of millions of  such objects

[2020-06-11 08:11] bytefish commented on #93
Now looking at the code, I remember why I did this... If you overload the methods in such a way, Java with its glorious Type Erasure cannot make sense, which method applies:

![image](https://user-images.githubusercontent.com/239373/84360694-caa86b00-abca-11ea-9e81-c66c60640bf2.png)

This is a problem, because I want people to be able to write stuff like the above.

I will change the API Surface t

[2020-06-11 09:46] bytefish commented on #93
I've added the functions again, but one has to decide explicitly wether to use the Primitive type or not. This is not perfect, but at least it doesn't lead to the kind of error above.

[2020-06-11 09:46] #93 closed

[2020-09-01 05:59] tangyibo commented on #83
Thanks very much!

[2020-10-07 21:47] pcurrivan opened #103 "jdk11 JAR shows up even with <classifier>jdk8</classifier>"
I'm using JDK8 and I have the classifier tags in my pom file.

I got this error:
`Exception in thread "main" java.lang.UnsupportedClassVersionError: de/bytefish/pgbulkinsert/mapping/AbstractMapping has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0`

In my target folder I found th

[2020-10-08 08:10] bytefish commented on #103
Could you share the relevant parts of the pom.xml, so I can give it a try.

[2020-10-08 08:17] bytefish commented on #103
If you are using IntelliJ I found a somewhat similar problem described here:

* https://github.com/arnaudroger/SimpleFlatMapper/issues/677

Could you have a look if this applies to the issue here, too?

[2020-10-08 08:19] bytefish commented on #103
Oh well sbould have read the whole thread, the author built the project with different artifactId names. I will keep investigating.

[2020-10-08 08:26] bytefish commented on #103
It's apparently the project described here:

* https://youtrack.jetbrains.com/issue/IDEA-203432

I will see how complicated it is to update the artifactId, because honestly... this bug in IntelliJ has been not fixed for some years... and I don't think this is obvious to most people.

In the meantime, maybe you can set the JDK in IntelliJ to the projects JDK.

[2020-10-08 08:39] bytefish commented on #103
Does it help to add this to your pom.xml:

[code]
Also see:

* https://stackoverflow.com/questions/25888023/how-to-change-java-version-for-maven-in-intellij

[2020-10-08 21:25] pcurrivan commented on #103
Thanks for the prompt response.  I can't share much of the pom, but I did run mvn dependency:tree and I see that the jdk8 rowwriter depends on the jdk11 jar:
[code]

Maybe you need to add a classifier or something to the rowwriter pom dependencies?

My IDE's importer was already using 1.8.  The source and target properties did not help.

[2020-10-09 03:18] bytefish commented on #103
@pcurrivan Thanks, I will create a small sample today and try to reproduce it. @jonfreedman Can you see a problem with the definition for the JDK8?

[2020-10-09 06:23] jonfreedman commented on #103
I'm not sure maven allows us to refer to the current project classifier in order to express that as a dependency. For now you should be able to fix this by excluding the transitive dependency of pgbulkinsert-core from pgbulkinsert-rowwriter.
We'll take a look at improving the way we support Java 8 vs Java 11

[2020-10-09 12:21] bytefish commented on #103
@pcurrivan You should now be able to use the library with JDK8 using the following Maven Dependency:

[code]

Please let us know, if it fixes the issue. 👍

[2020-10-09 19:29] pcurrivan commented on #103
That fixes it, thanks.

[2020-10-09 19:29] #103 closed

[2020-11-07 08:56] SwapnilKhante opened #109 "Upsert support"
Hi,

I am following your flink experiment project and trying to setup a similar setup. So far it looks good however, I did not see supprt for doing an upsert operation. Is this possible with PgBulkInsert library ?

Thanks,
Swapnil

[2020-11-07 10:36] bytefish commented on #109
No, the COPY Protocol, which is implemented in PgBulkInsert, only supports INSERTs. For UPSERT you would have to use JDBC statements.

[2020-11-07 10:36] #109 closed

[2021-02-03 23:02] msylla opened #114 "Getting a BinaryWriteFailedException when using PgBulkInsert"
Hi,

I've been scrupulously following your tutorial but getting a :

[code]
Can i get some guidance/understanding to resolve that issue ?

Using Postgres 12 and JDK8

[2021-02-05 21:07] bytefish commented on #114
@msylla Could you provide an example to reproduce the error?

[2021-02-06 07:38] bytefish commented on #114
@msylla Sometimes the problem is, that the data types don‘t match between the database and the Java type. For example using a BigDecimal or BigInteger, where an int should be used. This leads to weird errors like this, because the API doesn‘t validate between the actual table in the database and your mapping, but just spits out the Binary data. And if your mappings don‘t match, then Postgres expec

[2021-02-16 22:19] #114 closed

[2021-02-17 08:43] msylla commented on #114
Sorry for the late reply, i will try to check the ORM in depth. Thanks for the return.

[2021-06-29 09:19] yazun opened #117 "How to map composite types?"
Would it be possible?
And arrays of composite types that could have embedded arrays etc..
Thanks

[2021-07-03 18:56] bytefish commented on #117
I think it would be possible, given that Npgsql is able to do it:

* https://github.com/npgsql/npgsql/blob/main/src/Npgsql/Internal/TypeHandlers/CompositeHandlers/CompositeHandler.cs

Do you have an SQL Example and an idea what an API in our library could look like?

[2021-10-21 10:42] juriad commented on #39
It would also be good to support OffsetDateTime and Instant too. All of these map to TIMESTAMPTZ.

[2022-01-26 15:29] juriad opened #118 "Quoting algorithm is incorrect"
The name of a table/column can be any sequence of up to 63 bytes except containing byte 0. Reference: https://www.postgresql.org/docs/14/sql-syntax-lexical.html

If my table is called:
* ", then it should be quoted as """" (4) instead of "
* "", then it should be quoted as """""" (6) instead of ""
* "x", then it should be quoted as """x""" (3+3) instead of "x"
* x"y then it should be quoted as "x"

[2022-01-26 19:13] bytefish commented on #118
I think for now you could disable the quoting algorithm using the  ``usePostgresQuoting`` constructor parameter. Then the given table or schema name is passed to the writer without quoting applied.

Feel free to make a PR! I think the relevant code for quoting is in the ``PostgreSqlUtils`` class. 👍

[2022-01-26 19:19] bytefish commented on #118
This is how Npgsql applies quoting:

* https://github.com/npgsql/npgsql/blob/43756d15044ce20ea13424d6732a3defa6ce76cc/src/Npgsql/NpgsqlCommandBuilder.cs#L286

Do you think this is sufficient or covers your own examples? I didn’t look 👀 into it too deep, but it might be a good start.

[2022-01-27 15:18] juriad opened #119 "Add support for Instant, OffsetDateTime"
We support ZonedDateTime but not Instant and OffsetDateTime.
LocalDateTime, LocalDate and LocalTime are also candidates to support.

Moreover, OffsetDateTime is the default type to be used in the driver: https://jdbc.postgresql.org/documentation/head/java8-date-time.html

I am already hacking the support locally, so I may make a PR soon.

[2022-01-27 19:29] bytefish commented on #119
@juriad Great! Let me know, if you need help from my side. 👍

[2022-06-14 05:38] palaknagda opened #121 "Add support for Reactive Connection"

[2022-06-14 15:05] bytefish commented on #121
I think you mean:

* https://r2dbc.io/

Right now this project is tied to the Postgres JDBC Driver, so it’s not so easy to support.

[2022-06-15 05:26] palaknagda commented on #121
Yeah I meant R2DBC driver.
Thanks for replying! Closing this issue

[2022-06-15 05:26] #121 closed

[2022-07-14 11:04] StanLebedev opened #122 "Add the ability to use connection pooling with threading"
We can create a thread pool with different database connection from a connection pool.

[2022-07-14 16:52] bytefish commented on #122
Could you give a little more details?

[2022-07-16 10:37] StanLebedev commented on #122
We may use connection pooling with threading. We get faster insertion of objects.

ExecutorService executorService = Executors.newFixedThreadPool(poolSize);
executorService.invokeAll(...)

But I'm not sure if this should be added to the library.

[2022-07-16 11:16] bytefish commented on #122
Yes, what I didn’t know when writing the library some years ago was, that Postgres opens one COPY per connection, so you can indeed get higher throughput when parallelizing the inserts.

The TimescaleDB team back then had the following to say, when I ran benchmarks against their database:

I would most probably return Batched Entities as a ``Stream`` and call ``parallel()`` on it, so Java does all

[2022-07-22 14:05] StanLebedev commented on #122
not required

[2022-08-11 06:27] #122 closed

[2022-08-11 06:27] #118 closed

[2022-08-11 06:28] #119 closed

[2022-08-11 06:28] #117 closed